*{
    margin: 0;
    padding:0;
}
.discover-section{
    font-family:Montserrat;
}

.video-card {
    aspect-ratio: 16 / 16;
}

.object-fit-cover {
    object-fit: cover;
}


.dark-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(34, 33, 33, 0.395),
        rgba(216, 216, 216, 0)
    );
    z-index: 1;
}

.card-img-overlay {
    z-index: 2;
}